{% extends 'core/base.html' %}
{% block title %}Checkout{% endblock title %}
{% load static %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'core:search' %}" method="GET">
          <input class="form-control me-2" name="q" type="type" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personal
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'core:profile' %}">Trang cá nhân</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'core:pending' %}">Đơn hàng</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:cart' %}">Cart ({{count}})</a>
          </li>
          <li li class="nav-item">
            <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
          </li>
          {% else %}
          <li li class="nav-item">
            <a class="nav-link" href="{% url 'account:login' %}">Login</a>
          </li>
          <li li class="nav-item">
            <a class="nav-link" href="{% url 'account:register' %}">Signup</a>
          </li>
    </ul>
    {% endif %}
    </div>
  </nav>
{% endblock header %}

    {% block cart %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
              <h1>Thông tin giao hàng</h1>
              <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="name" class="form-label">Họ và tên</label>
                  <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="email">
                </div>
                
                <div class="mb-3">
                    <label for="number" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" name="number" id="number">
                  </div>
                <div class="mb-3">
                  <label for="address" class="form-label">Địa chỉ giao hàng</label>
                  <textarea class="form-control" name="address" id="address" rows="3"></textarea>
                </div>
                <div>
                  <h5 name="price_" value="{{cart.total_items_price}}">Total price : $ {{cart.total_items_price}}</h5>
                  <h5>Item : {{cart.total_item}} product</h5>
                </div>
                <button type="submit" class="btn btn-primary">
                    Đặt hàng
                </button>
              </form>
            </div>
            <div class="col-md-6">
                <h1>Thông tin sản phẩm</h1>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" style="flex:1">Image</th>
                      <th scope="col" style="flex:1">Product</th>
                      <th scope="col" style="flex:1">Price</th>
                      <th scope="col" style="flex:1">Quantity</th>
                      <th scope="col" style="flex:1">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in orderitems %}
                    <tr>
                      <td style="flex:1">
                        <div style="width:50px">
                          <img src="{{item.product.ImageURL}}" style="width:80%"/>
                        </div>
                      </td>
                      <td style="flex:1">{{item.product.name}}</td>
                      <td style="flex:1">${{item.product.price}}</td>
                      <td style="flex:1" >{{item.quantity}}</td>
                      <td style="flex:1">${{item.total_price}}</td>
                    </tr> 
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>
    {% endblock cart %}