{% extends 'core/base.html' %}
{% block title %}For get password{% endblock title %}

  {% block forgetpassword %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Get Password</h4>
          </div>
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
              <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-primary">Get Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock forgetpassword %}